{% extends "layouts/base.html" %}

{% block title %} Forms {% endblock title %}

<!-- Specific CSS goes HERE  -->

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="container-fluid">
          <h4 class="c-grey-900 mT-10 mB-30">Inserir dados</h4>
          {% if messages %}
            {% for message in messages %}
            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert"> 
              <strong>{{message}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
          {% endif %}
          <div class="row gap-20 masonry pos-r">
            <div class="masonry-sizer col-md-6"></div>
            <div class="masonry-item col-md-6">
              <div class="bgc-white p-20 bd">
                <h5 class="c-grey-900">Adicionar uma leitura</h5>
                <div class="mT-30">
                  <form action="" method="POST"> {% csrf_token %}
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label class="form-label fw-500" for="inputType">Tipo de Sensor</label>
                        <select name="inputType" id="inputType" class="form-control remove-placeholder">
                          <option value="" disabled selected></option>
                          <option value="quimico">Químico</option>
                          <option value="radiologico">Radiológico</option>
                        </select>
                      </div>
                      <div class="mb-3 col-md-6">
                        <label class="form-label fw-500" for="inputSensor">Modelo do Sensor</label>
                        <select name="inputSensor" id="inputSensor" class="form-control remove-placeholder"></select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label class="form-label fw-500" for="inputLatitude">Latitude</label>
                        <input type="text" class="form-control" name="inputLatitude" placeholder="Ex: -22.871112">
                      </div>
                      <div class="mb-3 col-md-6">
                        <label class="form-label fw-500" for="inputLongitude">Longitude</label>
                        <input type="text" class="form-control" name="inputLongitude" placeholder="Ex: -43.428041">
                      </div>
                    </div>
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label class="form-label fw-500" for="inputState">Estado</label>
                        <input type="text" class="form-control" name="inputState" placeholder="Detecção, Alarme, Background...">
                      </div>
                      <div class="mb-3 col-md-6">
                        <label class="form-label fw-500" for="inputRead">Leitura</label>
                        <input type="text" class="form-control" name="inputReading">
                      </div>
                    </div>  
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label class="form-label fw-500">Data da leitura</label>
                        <div class="timepicker-input input-icon mb-3">
                          <div class="input-group">
                            <div class="input-group-text bgc-white bd bdwR-0">
                              <i class="ti-calendar"></i>
                            </div>
                            <input type="text" name="inputDate" class="form-control bdc-grey-200 start-date" placeholder="Escolha uma data..." data-provide="datepicker" data-date-format = 'dd-mm-yyyy'>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3 col-md-6">
                        <label class="form-label fw-500" for="inputTime">Horário</label>
                        <input type="time" name="inputTime" class="form-control remove-placeholder" id="inputTime">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-color">Enviar</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="masonry-item col-md-6">
              <div class="bgc-white p-20 bd">
                <h5 class="c-grey-900">Adicionar múltiplas leituras</h5>
                <div class="mT-30">
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label class="form-label fw-500" for="inputCSV">Arquivo CSV</label>
                      <input type="file" class="form-control" id="inputCSV" name="inputCSV" accept=".csv">
                    </div>
                  </div>
                    <button type="submit" class="btn btn-primary btn-color">Enviar</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      var options="<option disabled selected>Selecione o tipo de sensor</option>";
      $("#inputType").on('change',function(){ 
          var value=$(this).val(); 
          options="<option disabled selected></option>";
          if(value=="quimico") 
          {
              options+="<option value='GDA-X'>GDA-X</option>"
                      +"<option value='LS-ID'>LS-ID</option>";
              $("#inputSensor").html(options);
          }
          else if(value=="radiologico") 
          {
              options+='<option value="SPIR-ID">SPIR-ID</option>'
                      +'<option value="PRD RadEye">PRD RadEye</option>';
              $("#inputSensor").html(options);
          }
          else
              $("#inputSensor").find('option').remove()
      });
    </script>
  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}