{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="row gap-20 masonry pos-r">
          <div class="masonry-sizer col-md-6"></div>
          <div class="masonry-item  w-100">
            <div class="row gap-20">
              <!-- #Last measure ==================== -->
              <div class='col-md-3'>
                <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Data da última aferição (Spir-ID)</h6>
                  </div>
                  <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                      <div class="peer">
                        <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{ data.data_ultima_afericao }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- #Gamma Average ==================== -->
              <div class='col-md-3'>
                <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Média de Leitura Gama (Spir-ID)</h6>
                  </div>
                  <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                      <div class="peer">
                        <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">{{ data.media }} μSV/h</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- #Gamma Maximum ==================== -->
              <div class='col-md-3'>
                <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Valor Máximo de Leitura Gama (Spir-ID)</h6>
                  </div>
                  <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                      <div class="peer">
                        <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">{{ data.valor_maximo }} μSV/h</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- #Gamma Minimun ==================== -->
              <div class='col-md-3'>
                <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Valor Mínimo de Leitura Gama (Spir-ID)</h6>
                  </div>
                  <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                      <div class="peer">
                        <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">{{ data.valor_minimo }} μSV/h</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="masonry-item col-12">
            <!-- #Map ==================== -->
            <div class="bd bgc-white">
              <div class="peers fxw-nw@lg+ ai-s">
                <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
                  <div class="layers">
                    <div class="layer w-100 mB-10">
                      <h6 class="lh-1">Mapa de Detecção</h6>
                    </div>
                    <div class="layer w-100">
                      {{ map|safe }}
                    </div>
                  </div>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
