{% extends "layouts/base.html" %}

{% block content %}


<main class='main-content bgc-grey-100'>
    <div id='mainContent'>
      <div class="container-fluid">
        <h4 class="c-grey-900 mT-10 mB-30">Mapa de detecção</h4>
        <div class="row">
          <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
              <!--<h6 class="c-grey-900 mB-20">Subtitle</h6>-->
              <div style="padding-bottom: 75%;">{{ map|safe }}</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>


{% endblock %}